element.style {}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6em;
    color: var(--body-text-color);
    background-color: var(--dark-color);
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet body {
    display: block;
    margin: 8px;
}

:root {
    --accent-color: #1AA090;
    /* --secondary-color: #E2EAF1; */
    --dark-color: #121B25;
    --grey-color: #83898F;
    --body-text-color: #FFFFFF;
    --light-text-color: #D6D6D6;
    --link-color: #092035;
}