element.style {}




body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6em;
    color: var(--body-text-color);
    background-color: var(--dark-color);
}


*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet body {
    display: block;
    margin: 8px;
}