* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6em;
    color: var(--body-text-color);
    background-color: var(--dark-color);
}


#hearder {
    width: 100%;
    height: 73px;
    padding: 8px 0;
}

#hearder .nav {
    max-width: 1536px;
    height: 73px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#hearder .nav-brand {
    display: inline;
}

#hearder .nav-list {
    display: flex;
    flex-direction: row;
    width: 965px;
    justify-content: space-between;
}

#hearder .nav-list li {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 8px;
    margin-right: 24px;
}

#hearder li a {
    text-decoration: none;
    font-size: 16px;
    color: aliceblue;
}

#hearder .nav-list button {
    width: 96px;
    height: 40px;
    padding: 12px 6px;
    margin-right: -32px;
}

/* billboard */

#billboard {
    width: 100%;
    height: 586px;
    margin-top: 120px;
    margin-bottom: 80px;
}

#billboard .container {
    height: 100%;
    margin: 0 100px;
}

#billboard .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#billboard .main .billboard-text {
    width: 40%;
}

#billboard .billboard-text h1 {
    text-transform: capitalize !important;
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 68px;
}