/* Tablet and Mobile */

@media (max-width:63.9375em) {}


/* Tablet */

@media (max-width:63.9375em) and (min-width:46.25em) {

    body {
        margin: 25px;
    }

    #hearder .nav-list {
        display: none;
    }

    #hearder .nav-brand {
        margin-left: 20px;
    }

    #hearder .navbar {
        display: block;
        width: 3rem;
        height: 3rem;
        text-align: center;
        margin-right: 1.5em;
    }

    /* billboard */

    #billboard .container {
        margin: 0;
    }

    #billboard .container .billboard-text>h1 {
        font-size: 4em;
    }

    #billboard .container .billboard-text>p {
        font-size: 1rem;
    }




}

/* Mobile */

@media (max-width:46.1875em) {}